body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #e5e5ea;
}

.page {
  display: flex;
  width: 1200px;
  height: 1800px;
  margin: 0 auto;
  background: #fbfbfd;
}

.header {
  width: 1200px;
  height: 88px;
  background: #ca2f2f;
}

.name {
  width: 229px;
  height: 36px;
  margin-left: 485px;
  margin-top: 29px;

  background: #540d0d;
  text-align: center;
  padding: auto auto;
}

.name_text {
  width: 229px;
  height: 36px;
  left: 485px;
  top: 29px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffcc4a;
}

.temp {
  align-items: center;
}
