body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #e5e5ea;
}

.page {
  position: relative;
  width: 1200px;
  height: 800px;
  justify-content: center;
  margin: 0 auto;
  background: #fbfbfd;
}

.header {
  position: absolute;
  width: 1200px;
  height: 88px;
  background: #ca2f2f;
}

.name {
  position: absolute;
  width: 229px;
  height: 36px;
  left: 485px;
  top: 29px;

  background: #540d0d;
}

.name_text {
  position: absolute;
  width: 229px;
  height: 36px;
  left: 0px;
  top: 5px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffcc4a;
}

.bookshop-logo {
  position: absolute;
  width: 156px;
  height: 71px;
  left: 14px;
  top: 10%;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.basket {
  position: absolute;
  width: 100px;
  height: 72px;
  left: 1079px;
  top: 10%;

  background: #ffffff;
}

.basket-state {
  position: absolute;
  width: 18px;
  height: 21px;
  left: 1082px;
  top: 52px;
  background: #4283bf;
}

.basket-state-text {
  position: absolute;
  width: 21px;
  height: 12px;
  left: -3px;
  top: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.logging-text {
  position: absolute;
  width: 1200px;
  height: 67px;
  left: 472px;
  top: 202px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.user {
  position: absolute;
  width: 375px;
  height: 69px;
  left: 361px;
  top: 329px;

  background: #fbfbfd;
}

.user-text {
  position: absolute;
  width: 216px;
  height: 45px;
  left: 0px;
  top: 12px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #000000;
}

.user-login {
  position: absolute;
  width: 208px;
  height: 45px;
  left: 216px;
  top: 12px;

  background: #d9d9d9;
}

.password {
  position: absolute;
  width: 375px;
  height: 69px;
  left: 361px;
  top: 416px;

  background: #fbfbfd;
}

.password-text {
  position: absolute;
  width: 216px;
  height: 45px;
  left: 0px;
  top: 12px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #000000;
}

.user-password {
  position: absolute;
  width: 208px;
  height: 45px;
  left: 216px;
  top: 12px;

  background: #d9d9d9;
}

.password-forgotten {
  position: absolute;
  width: 183px;
  height: 19px;
  left: 381px;
  top: 503px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 19px;

  color: #1c3cad;
}

.log-in {
  position: absolute;
  width: 223px;
  height: 46px;
  left: 630px;
  top: 611px;

  background: #d9d9d9;
}

.log-in-text {
  position: absolute;
  width: 219px;
  height: 45px;
  left: 52px;
  top: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.no-account {
  position: absolute;
  width: 364px;
  height: 23px;
  left: 560px;
  top: 680px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;

  color: #1c3cad;
  border: none;
  background-color: #fbfbfd;
}

.ellipse-back {
  position: absolute;
  width: 197px;
  height: 91px;
  left: 206px;
  top: 695px;
  border-radius: 50%;

  background: #d9d9d9;
}
.ellipse-back:hover {
  background: #afabab;
}

.left-arrow-line {
  box-sizing: border-box;

  position: absolute;
  width: 46px;
  height: 0px;
  left: 10px;
  top: 39px;
  background-color: #000000;
  border: 3px solid #000000;
  transform: rotate(-180deg);
}

.left-arrow-up {
  box-sizing: border-box;

  position: absolute;
  width: 23px;
  height: 0px;
  left: 5px;
  top: 45px;
  background-color: #000000;
  border: 3px solid #000000;
  transform: rotate(50deg);
}

.left-arrow-down {
  box-sizing: border-box;

  position: absolute;
  width: 23px;
  height: 0px;
  left: 5px;
  top: 32px;
  background-color: #000000;
  border: 3px solid #000000;
  transform: rotate(-50deg);
}

.ellipse-text {
  position: absolute;
  width: 102px;
  height: 59px;
  left: 70px;
  top: 15px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #000000;
}
